version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  ai:
    build: ./ai-service
    ports:
      - "8000:8000"
